<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Green_Hand_Insights.Green_Hand_Insights">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Green Hand Insights"></application>
</manifest>